
/* estilizando magina de video */ 

.video-g {
    text-align: center;
}

iframe {
    width: 1000px;
    height: 560px;
    border-radius: 15px;
    margin-top: 0;
}

.bor {
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

header h6 {
    margin-bottom: 5px;
    font-size: 25px;
    color: #fff;
}

@media(max-width: 800px){

    /* estilizando magina de video */ 


.video-g {
    margin-top: 50px;
    text-align: center;
}

iframe {
    width: 350px;
    height: 200px;
    border-radius: 15px;
    margin-top: 0;
}

.bor {
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

header h6 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #fff;
}
}
